#gameNow { display: none; }
#boardMenu { display: none; }
#singlePlay { display: none; }


#board {
    margin: auto;
    border: 3px black solid;
    position: relative;
    width: 750px;
    height: 750px;
}

html {
    overflow-x: hidden;
    background-color: lightblue;
}

body {
    overflow: auto;
}

#board > div {
    background-image: url('../image/omoc.png');
    text-align: center;
    position: absolute;
    font-size: 35px;
    align-content: center;
}

#otherSettingMenu {
    display: flex;
    margin: auto;
    padding: 35px 0;
    justify-content: center;
    align-content: center;
}

#typeBtn {
    width: 200px;
    height: 40px;
    margin-right: 20px;
}

#botDelay {
    width: 120px;
    height: 40px;
    font-size: 18px;
    text-align: center;
}

#botAIVersion {
    width: 120px;
    height: 40px;
    text-align: center;
    margin-left: 20px;
}

#typeChangeBox {
    display: none;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 3px solid orange;
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 6px 6px 5px 7px black;
}

#screenShadow {
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    left: 0;
    top: 0;
    position: fixed;
    top: 0%;
}

.typeItems {
    display: block;
    height: 50px;
    width: 80%;
    background-color: salmon;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 18px;
}

#typeCancel {
    margin-top: 110px;
    background-color: silver;
}

#myName {
    display: block;
    width: 165px;
    padding: 5px;
    height: 15px;
    background-color: #dddddd;
    border-radius: 2px;
    overflow: hidden;
    align-items: center;
    margin: 5px 0;
}

body > div {
    width: 1000px;
    margin: auto;
    margin-top: 60px;
    background-color: rgb(244, 244, 244);
    padding-bottom: 20px;
    margin-bottom: 15px;
}

#roomNameInput, #roomPasswdInput, #roomCreateBtn, #roomCreateCancel {
    display: block;
    width: 220px;
    margin:  15px auto;
    height: 35px;
    border-radius: 12px;
    outline: 0;
}

#roomCreateBtn {
    margin-top: 70px;
    background-color: wheat;
}

#roomCreateCancel {
    background-color: tomato;
    color: white;
}

.roomListItem {
    display: inline-block;
    width: 330px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 12px;
}

.roomPlayerBox {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
}

.roomCreate {
    padding-top: 15px;
    display: none;
    position: fixed;
    width: 250px;
    height: 300px;
    border: solid red 2px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 3px 1px black;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

.gameCenter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

#alert {
    margin-top: 5px;
}

.playerListBar {
    display: flex;
    margin-right: 0;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    margin-top: 20px;
}

.playerList {
    height: 250px;
    margin-bottom: 30px;
    width: 165px;
    padding: 0 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chattingList {
    padding: 10px;
}

.chat_sender {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin-right: 20px;
    width: 180px;
    overflow: hidden;
}

.chat_list_item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.chat_message {
    display: inline-block;
    font-size: 12px;
    width: 620px;
    word-break: break-all;
}

.chat_time {
    display: inline-block;
    font-size: 12px;
    color: rgb(168, 168, 168);
    text-align: center;
    width: 150px;
    overflow: hidden;
}

.chattingInfo {
    width: 935px;
    padding: 5px;
    padding-left: 10px;
    height: 15px;
    background-color: #dddddd;
    border-radius: 10px;
    align-items: center;
    margin: 5px auto;
}

.roomInfo {
    align-items: center;
    margin-top: 5px;
    width: 750px;
    padding: 5px;
    padding-left: 10px;
    height: 15px;
    background-color: #dddddd;
    border-radius: 10px;
    margin-bottom: 10px;
}

.roomSearchMenu {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.roomSearch {
    margin-left: 405px;
    width: 300px;
    height: 23px;
    margin-right: 0;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    padding-left: 8px;
    outline: 0;
}

#multiPlay {
    margin-right: 15px;
}

.roomList {
    margin-right: 5px;
}

.roomListBox {
    height: 500px;
    overflow-y: auto;
}

.roomSearchBtn {
    margin-left: 0;
    border-left: 0;
    width: 50px;
    height: 23px;
    border-radius: 0 10px 10px 0;
    outline: 0;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(24, 24, 24, 0.3);
}

#myChat {
    width: 900px;
    border-right: 0;
    border-radius: 8px 0 0 8px;
    height: 35px;
}

#sendChat {
    width: 50px;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    height: 35px;
}

#myChat:focus, #sendChat:focus {
    outline: 0;
}

.chattingBox {
    overflow-y: auto;
    height: 190px;
    margin-bottom: 15px;
}

.chatInput {
    display: flex;
    width: 935px;
    align-items: center;
    margin: auto;
}

.playerListItem {
    height: 18px;
    font-size: 12px;
    margin: 0;
}

.nameChangeBox {
    display: none;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px black solid;
    width: 350px;
    height: 140px;
    border-radius: 3px;
    background-color: aliceblue;
    box-shadow: 1px 3px 5px 2px black;
    z-index: 2;
}

header > input[type="button"] {
    border: 0;
    position: relative;
    border-radius: 8px 8px 0px 0px;
    height: 30px;
    margin-bottom: 40px;
}

header {
    height: 40px;
    display: flex;
    position: absolute;
    align-items: flex-end;
}

header input:hover {
    height: 40px;
}

header input:focus {
    outline: 0;
}

header input:active {
    color: white;
}

#nav1 {
    background-color: violet;
}
#nav2 {
    background-color: rgb(255, 189, 47);
}
#nav3 {
    background-color: rgb(175, 255, 28);
}
#nav4 {
    display: none;
    background-color: lime;
}
#nav5 {
    display: none;
    background-color: tomato;
}

.nameChangeInputBox {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    outline: 0;
}

.nameChangeStartBtn {
    display: block;
    margin: auto;
    width: 300px;
    height: 27px;
    border-radius: 5px;
    margin-top: 3px;
    background-color: rgb(225, 255, 255);
}

.gameTurnTimer {
    float: right;
    margin-right: 10px;
    color: orange;
}
