@media(max-width: 768px) {

    #board {
        margin: auto;
        border: 3px black solid;
        position: relative;
        align-items: center;
        height: 350px;
        width: 350px;
    }
    
    html {
        background-color: #E4CDD4;
    }

    #board > div {
        font-size: 15px;
        background-size: cover;
    }

    #typeBtn {
        font-size: 15px;
        width: 25%;
    }

    #botDelay {
        font-size: 20px;
        width: 10%;
    }

    #botAIVersion {
        width: 30%;
        font-size: 15px;
    }

    #typeChangeBox {
        display: none;
        width: 200px;
        height: 300px;
        background-color: white;
        border: 3px solid #c577a5;
        position: fixed;
        top: 15%;
        bottom: 15%;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 6px 6px 5px 7px black;
    }
    
    .typeItems {
        height: 40px;
        width: 60%; 
        background-color: #f8aac2;
        color: black;
        font-size: 15px;
    }
    
    #typeCancel {
        margin-top: 100px;
        background-color: #E0E3DA;
    }
    
    #myName {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        font-size: 12px;
    }
    
    body > div {
        margin: 60px 0 20px 0;
        width: 100%;
        background-color: rgb(245, 245, 245);
    }
    
    #roomNameInput, #roomPasswdInput, #roomCreateBtn, #roomCreateCancel {
        width: 60%;
        height: 40px;
    }
    
    #roomCreateBtn {
        display: block;
        height: 40px;
        width: 60%; 
        background-color: #f8aac2;
    }
    
    #roomCreateCancel {
        background-color: #E0E3DA;
        color: black;
        margin:  15px auto;
    }

    .roomListBox {
        height: 300px;
    }
    
    .roomListItem {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .roomPlayerBox {
        width: 100px;
        height: 100px;
        margin: 5px;
    }
    
    .roomCreate {
        height: 320px;
        width: 60%;
        border: solid #c577a5 2px;
    }
    
    .gameCenter {
        display: block;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    
    .playerListBar {
        margin: 0 auto;
        width: 90%;
        margin-top: 1px;
        margin-bottom: 30px;
    }

    .playerListBar > input[type="button"] {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .playerList {
        height: 100px;
        margin-bottom: 30px;
        width: 80%;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .chattingList {
        padding: 10px;
    }
    
    .chat_sender {
        width: 200px;
    }
    
    .chat_message {
        width: 100%;
    }
    
    .chat_time {
        width: 200px;
    }
    
    .chattingInfo {
        width: 95%;
    }
    
    .roomInfo {
        margin: 0 auto;
        margin-bottom: 5px;
        width: 95%;
    }
    
    .roomSearch {
        margin-left: 10px;
        width: 80%;
    }
    
    #multiPlay {
        margin-right: 0;
        padding: 19px;
    }
    
    .roomSearchBtn {
        width: 20%;
    }
    
    #myChat {
        width: 80%;
    }
    
    #sendChat {
        width: 20%;
        border-left: none;
        border-radius: 0 8px 8px 0;
        height: 35px;
    }
    
    .chatInput {
        width: 100%;
    }

    .chattingBox {
        height: 150px;
    }
    
    .nameChangeBox {
        top: 20%;
        left: 0;
        right: 0;
        width: 310px;
        height: 200px;
        background-color: white;
    }
    
    #nav1 {
        background-color: rgb(141, 86, 139);
    }
    #nav2 {
        background-color: #CA9EB8;
    }
    #nav3 {
        background-color: #E0E3DA;
    }
    #nav4 {
        background-color: rgb(186, 197, 213);
    }
    #nav5 {
        background-color: rgb(204, 149, 175);
    }
    
    .nameChangeInputBox {
        margin-top: 20px;
        width: 80%;
        margin-bottom: 40px;
    }
    
    .nameChangeStartBtn {
        width: 80%;
        height: 27px;
        margin-top: 10px;
        background-color: #f8aac2;
    }
} 
